.page-footer {
  padding: 139px 0 78px;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__title {
  margin: 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.7px;
  color: $black;
}

.page-footer__section {
  &--coming {
    padding-left: 14px;
    width: 34.5004%;
    border-right: 1px solid $footer-border-color;
  }

  &--contacts {
    padding-left: 7.6923%;
    width: 33.2194%;
    border-right: 1px solid $footer-border-color;
  }

  &--group-trips {
    width: 29.8889%;
    flex-grow: 1;
    padding-left: 4.18803%;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 33.3333%;
}

.page-footer__item {
  margin-bottom: 10px;
  font-weight: 400;
  color: rgba($color: $black, $alpha: 0.5);
}

.page-footer__text {
  margin: 0;
  padding-right: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba($color: $black, $alpha: 0.5);
}

@media (max-width: $desktop) {
  .page-footer {
    padding-top: 51px;
  }

  .page-footer__section {
    padding: 0;

    &--coming {
      width: 53.8043%;
      margin-bottom: 20px;
    }

    &--contacts {
      padding-left: 57px;
      width: auto;
      border: none;
    }

    &--group-trips {
      padding-top: 26px;
      width: 100%;
      border-top: 1px solid $footer-border-color;

      .page-footer__title {
        text-align: center;
      }
    }
  }

  .page-footer__title {
    &--contacts {
      margin-bottom: 20px;
    }
  }

  .page-footer__list {
    min-width: 32.333%;
  }

  .page-footer__text {
    text-align: center;
  }

  .page-footer__linebreak {
    display: none;
  }
}

@media (max-width: $tablet) {
  .page-footer {
    padding-top: 91px;

    .container {
      flex-direction: column;
    }
  }

  .page-footer__title {
    text-align: center;

    &--contacts {
      margin-bottom: 19px;
      padding-right: 8px;
    }
  }

  .page-footer__section {
    width: 100%;
    border: none;
    border-bottom: 1px solid $footer-border-color;

    &--contacts {
      padding: 0;
      padding-top: 10px;
      padding-bottom: 14px;
    }

    &--group-trips {
      padding-top: 29px;
      border: none;
    }
  }

  .page-footer__wrapper {
    flex-wrap: wrap;
  }

  .page-footer__list {
    margin-bottom: 9px;
    width: 50%;
    flex-grow: 1;
    text-align: center;

    &:first-child {
      padding-right: 16px;
    }

    &:last-child {
      padding-right: 11px;
    }
  }

  .page-footer__text {
    margin: 0 auto;
    padding-right: 0;
    max-width: 450px;
  }
}
